{% extends 'customer/base.html' %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>We Are Here To Serve Pimlico During Passover</h1>
            <h3>By Suppying Kosher For Passover Meals And Foods</h3>
            <p>all under the rigorous supervision of our Rav, <a
                    href="https://www.jewishvirtuallibrary.org/yochanan-ben-zakkai" target="_blank">Yohanan ben
                    Zakkai</a>, who personally supervises all preparation</p>
        </div>
    </div>




    <div class="container-fluid">
        <h1>Two Unequal Responsive Columns</h1>
        <p>IMAGE</p>

        <div class="row">
            <div class="flex-box col-sm-4">
                <img src="{% static 'customer/Chief-2.png' %}" width='250px' height='250px' alt="My image">
            </div>
            <div class="col-sm-8" style="background-color:SeaShell;">

                <h4>The effort to free ourselves from yesterday’s
                    boundaries is a perpetual one. For freedom is more than the drive to escape foreign and negative
                    inhibitors, because no matter how free of them we are, we remain defined by the boundaries of self
                    and self-definition. Freedom is the incessant drive to "Passover" these boundaries to
                    reach beyond what we are. We should not expect this to happen quickly or automatically. It takes
                    time and it can take a lot of work.We should think of the Exodus from Egypt as a requirement to make
                    ourselves free. Passover teaches us two further important lessons. Having freed ourselves we cannot
                    enslave others and we must not take pleasure in the suffering of our enemies.</h4>
            </div>
        </div>
<br>        <div class="row">
            <div class="flex-box col-sm-4">
                <img src="{% static 'customer/Chief-2.png' %}" width='250px' height='250px' alt="My image">
            </div>
            <div class="col-sm-8" style="background-color:SeaShell;">

                <h4>Our dishes have the finest flavours and are made from the finest ingredients </h4>
            </div>
        </div>
    </div>


</div>


{% endblock content %}